.shop__container{
    margin-top: 3rem;
    //margin-bottom: 4rem;
    
    .accshop__title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        margin-bottom: 3rem;

        button{
            border: none;
            padding: 5px;
            font-size: 1.5rem;
            background-color: #f8efc3;
            text-wrap: nowrap;
            font-weight: bold;
            color: #a49931;
            text-transform: uppercase;
            font-style: italic;

            @media screen and (max-width: 191px){
                font-size: 11vmin;
            }
        }

        h2{
            text-shadow: 0px 2px 2px #b30038;
            @media screen and (max-width: 191px){
                font-size: 11vmin;
            }
        }
    }

    .acc__select{
        text-align: right;
        padding-right: 5px;

        select{
            color: #818b08;
            font-size: 1rem;
            outline: none;
            border: dashed 2px #cae619;
            padding: 5px;
            border-radius: 15px;
            width: 20%;
            box-shadow: 0px 2px 8px #b30038;

            @media screen and (max-width: 779px){
                width: 50%;
            }
        }
    }

    .accimages__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .card{
            background-color: #e2e2e2;
            width: 20%;
            padding: 25px 25px 15px 25px;
            display: flex;
            margin-right: 1rem;
            margin-bottom: 1rem;
            flex-direction: column;

            @media screen and (max-width: 905px){
                width: 40%;
            }

            @media screen and (max-width: 484px){
                width: 80%;
                margin-right: 0;
            }

            img{
                width: 100%;
                height: 35vh;
                margin-bottom: 1rem;
                border: dashed 2px #d6d93b;

                @media screen and (max-width: 1138px){
                    height: 25vh;
                }

                @media screen and (max-width: 905px){
                    height: 45vh;
                }

                @media screen and (max-width: 607px){
                    height: 35vh;
                }

                @media screen and (max-width: 234px){
                    height: 25vh;
                }
            }

            .info{
                h3{
                    margin-bottom: 0.5rem;
                    color: #4e1f04;
                    font-family: "Merriweather", serif;
                }

                h4{
                    font-style: italic;
                }
            }
        }

        .card:hover{
            background-color: rgb(219, 219, 219);
        }
    }
}