.shopBanner__container{
    background-image: url("https://static.vecteezy.com/system/resources/previews/023/204/795/original/colorful-party-tinsel-and-confetti-falling-confetti-for-festival-background-colorful-confetti-falling-isolated-on-a-transparent-background-carnival-elements-birthday-celebration-free-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    width: 100%;
}