.load__container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 15%;

        @media screen and (max-width: 760px){
            width: 30%;
        }
    }
}

.invisible{
    display: none;
}