@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.mobilemenu__container{
    display: none;
    background-color: #fff1ffec;
    width: 100%;
    height: 100vh;
    //margin-top: 5.2rem;
    padding: 15px;
    position: fixed;
    top: 0;
    //right: 0;
    z-index: 1;

    

    /*@media screen and (max-width: 769px){
        margin-top: 5rem;
    }

    @media screen and (max-width: 711px){
        margin-top: 4.5rem;
    }

    @media screen and (max-width: 711px){
        margin-top: 4rem;
    }

    @media screen and (max-width: 573px){
        margin-top: 3.5rem;
    }

    @media screen and (max-width: 531px){
        margin-top: 7rem;
    }

    @media screen and (max-width: 516px){
        margin-top: 15vh;
    }

    @media screen and (max-width: 453px){
        margin-top: 6rem;
    }

    @media screen and (max-width: 446px){
        margin-top: 5rem;
    }

    @media screen and (max-width: 368px){
        margin-top: 4.5rem;
    }

    @media screen and (max-width: 289px){
        margin-top: .5rem;
    }*/

    .close__icon{
        display: flex;
        justify-content: right;
    }

    .list{
        text-align: center;
        margin-top: 3rem;
        list-style: none;
        font-size: 2rem;
        font-family: "Protest Revolution", sans-serif;

        @media screen and (max-width: 404px){
            font-size: 8vmin;
        }

        li{
            margin-bottom: 15px;
            text-shadow: 0px 2px 2px #b45981;

            a{
                color: black;
                text-decoration: none;
            }

        }

        .active__link{
            text-shadow: 0px 2px 18px red;
        }
    }

    @media screen and (max-width: 815px){
        display: block;
    }

    img{
        margin-top: 3rem;
        width: 100%;
    }
}

.invisible{
    display: none;
}