.kid__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    img{
        width: 30%;

        @media screen and (max-width: 733px){
            width: 50%;
        }
    }
    
}