@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.shopitems__container{
    margin: 3rem 0 0rem 0rem; //3
    font-family: "Pacifico", cursive;

    .infos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;

        @media screen and (max-width: 850px){
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .img__info{
            width: 100%;
            //display: flex;
            //flex-direction: row-reverse;
            padding: 0 15px 15px 0;

            @media screen and (max-width: 1056px){
                display: none;
            }

            img{
                width: 100%;
                height: auto;
                margin-left: 1rem;

                @media screen and (max-width: 1250px){
                    width: 100%;
                }
            }
        }
        .info__container{
            width: 100%;

            @media screen and (max-width: 1250px){
                margin-left: 3rem;
            }

            @media screen and (max-width: 850px){
                padding: 15px;
            }

            @media screen and (max-width: 727px){
                margin-left: 0;
            }

            .information{
                @media screen and (max-width: 1056px){
                    display: flex;
                    gap: 5rem;
                    filter: brightness(1.1);
                    mix-blend-mode: multiply;
                }

                @media screen and (max-width: 727px){
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    justify-content: left;
                    align-items: left; 
                }
            }

            .img{
                img{
                    display: none;

                    @media screen and (max-width: 1056px){
                        display: block;
                    }

                    @media screen and (max-width: 727px){
                        margin: auto;
                        width: 70%;
                        margin-bottom: 12rem;
                    }

                    @media screen and (max-width: 626px){
                        margin-bottom: 8rem;
                    }

                    @media screen and (max-width: 580px){
                        margin-bottom: 4rem;
                    }

                    
                    @media screen and (max-width: 461px){
                        margin-bottom: .4rem; //7rem
                    }
                }
            }

            h2,
            h3,
            p,
            .size__container,
            .quantity__container{
                margin-bottom: 0.8rem;
            }

            .shipping__container{
                margin-top: 2rem;
                display: flex;
                color: gray;
                flex-direction: column;
                
                div{
                    display: flex;
                    gap: .2rem;
                    margin-right: 5rem;
                    text-wrap: nowrap;

                    @media screen and (max-width: 516px){
                        margin-right: 2rem;
                    }

                    @media screen and (max-width: 481px){
                        flex-wrap: wrap;
                        margin-bottom: .4rem;
                    }

                    h4{
                        font-size: 1.2rem;
                        margin-top: 1rem;

                        @media screen and (max-width: 430px){
                            font-size: 5vmin;
                        } 
                    }

                    h4::before{
                        @media screen and (max-width: 421px){
                            content: "💡";
                            margin-right: .2rem;
                        }
                    }
                }

                .icon{
                    font-size: 3rem;

                    @media screen and (max-width: 490px){
                        font-size: 9vmin;
                    }

                    @media screen and (max-width: 470px){//430
                        font-size: 12vmin;
                    }

                    @media screen and (max-width: 421px){//430
                        font-size: 8vmin;
                    }

                    @media screen and (max-width: 421px){
                        display: none;
                    }
                }
            }

            h2{
                font-size: 2rem;
                color: #033851;

                @media screen and (max-width: 443px){
                    font-size: 10vmin;
                }
            }

            h3{
                font-size: 2.5rem;
                color: #7760a9;

                @media screen and (max-width: 443px){
                    font-size: 8vmin;
                }
            }

            p{
                color: #7a7a75;
                @media screen and (max-width: 443px){
                    font-size: 5vmin;
                }
            }

            span{
                font-weight: bold;
            }

            .size__container{
                button{
                    margin-left: 0.2rem;
                    padding: 15px;
                    background-color: white;
                    text-align: center;
                    border: solid 2px #7760a9;
                    cursor: pointer;
                    text-wrap: nowrap;

                    @media screen and (max-width: 443px){
                        font-size: 5vmin;
                        padding: 5px;
                    }

                    @media screen and (max-width: 736px){
                        margin-bottom: 0.2rem;
                    }
                }

                button:focus{
                    background-color:#d2cbe2
                }
            }

            .quantity__container{
                button{
                    padding: 15px;
                    background-color: #000;
                    text-align: center;
                    border-color: #7a7a75;
                    cursor: pointer;
                    color: #fff;
                    border: none;
                    text-wrap: nowrap;

                    @media screen and (max-width: 443px){
                        font-size: 5vmin;
                        padding: 5px;
                    }
                }

                button:hover{
                    background-color: #5e5d5d;
                }

                .middle__btn{
                    width: 20%;
                    background-color: #ffff;
                    color: #272626;
                    border: solid .5px;
                }

                .middle__btn:hover{
                    background-color: #fff;
                }
            }

            .buy__buttons{
                button{
                    margin-left: .2rem;
                    padding: 15px;
                    width: 40%;
                    border: none;
                    cursor: pointer;
                    text-wrap: nowrap;
                    font-family: "Pacifico", cursive;

                    @media screen and (max-width: 443px){
                        font-size: 3vmin;
                    }
                }

                .cart__btn{
                    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
                    color: #000;
                }

                .cart__btn:hover{
                    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
                }

                .buy__btn{
                    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
                    color: #fff;
                }

                .buy__btn:hover{
                    background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
                }
            }
        } 
    }

    .desc__container{
        padding-left: 15px;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 2rem;

        @media screen and (max-width: 892px){
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column-reverse;
        }

        @media screen and (max-width: 727px){
            text-align: left;
            font-size: 8vmin;
        }

        @media screen and (max-width: 481px){
            margin-top: 1rem;
        }

        div{

            @media screen and (max-width: 727px){
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img{
                width: 50%;
                mix-blend-mode: multiply;

                @media screen and (max-width: 892px){
                    width: 35%;
                }

                @media screen and (max-width: 473px){
                    width: 55%;
                }
            }

            .img1{
                margin-bottom: 5rem;
            }
        }

        p{
            margin-top: 1rem;
            font-size: 1.8rem;
            color: #1b213e;

            @media screen and (max-width: 443px){
                font-size: 5vmin;
            }
        }
    }

    h1{
        margin-top: 5rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;

        @media screen and (max-width: 612px){
            font-size: 7vmin;
        }

        @media screen and (max-width: 282px){
            font-size: 8vmin;
        }

        .p1{
            color: #ce4577;
        }

        .p2{
            color: #005088;
        }
    }
    
    .itemsimages__container{
        background-image: url("https://childrens-drawing.com/drawing/image/il_3.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .card{
            background-color: #fff;
            width: 20%;
            z-index: 2;
            box-shadow: 0px 2px 5px #d8c8ff;
            padding: 25px 25px 15px 25px;
            display: flex;
            margin-right: 1rem;
            margin-bottom: 1rem;
            flex-direction: column;
            transition: ease-in-out 2s;

            @media screen and (max-width: 905px){
                width: 40%;
            }

            @media screen and (max-width: 484px){
                width: 80%;
                margin-right: 0;
            }

            img{
                width: 100%;
                height: 35vh;
                margin-bottom: 1rem;

                @media screen and (max-width: 1138px){
                    height: 25vh;
                }

                @media screen and (max-width: 905px){
                    height: 45vh;
                }

                @media screen and (max-width: 607px){
                    height: 35vh;
                }

                @media screen and (max-width: 234px){
                    height: 25vh;
                }
            }

            .info{
                text-align: center;

                h3{
                    margin-bottom: 0.5rem;
                    color: #009fc5;
                    font-family: "Merriweather", serif;
                }

                h4{
                    font-style: italic;
                }
            }
        }

        .card:hover{
            transform: scale(.9);
        }
    }
}