.shop__container{
    margin-top: 3rem;
    //margin-bottom: 4rem;
    
    .girlshop__title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        margin-bottom: 3rem;

        button{
            border: none;
            padding: 5px;
            font-size: 1.5rem;
            background-color: #d47bbc;
            text-wrap: nowrap;
            font-weight: bold;
            color: #5e2838;
            text-transform: uppercase;
            font-style: italic;

            @media screen and (max-width: 191px){
                font-size: 11vmin;
            }
        }

        h2{
            text-shadow: 0px 5px 2px #efe665;
            @media screen and (max-width: 191px){
                font-size: 11vmin;
            }
        }
    }

    .girl__select{
        text-align: right;
        padding-right: 5px;

        select{
            color: #7f3c4e;
            font-size: 1rem;
            outline: none;
            border: dashed 2px #ec6260;
            padding: 5px;
            border-radius: 15px;
            width: 20%;
            box-shadow: 0px 2px 8px #ffa6c1;

            @media screen and (max-width: 779px){
                width: 50%;
            }
        }
    }

    .girls__banner{
        background-color: #f28690;
        width: 100%;
        margin-top: 5rem;
        padding: 15px;
        
        div{
            color: #fff;
            padding: 15px;
            border: dashed 2px #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                text-align: center;
                
                @media screen and (max-width: 568px){
                    font-size: 1rem;
                }
            }

            img{
                width: 10%;
                height: 15vh;
                margin-left: 15px;
    
                @media screen and (max-width: 707px){
                    display: none;
                }
            }
        }
    }

    .girlimages__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .card{
            background-color: #f8efed; //e2e2e2
            width: 20%;
            padding: 25px 25px 15px 25px;
            display: flex;
            margin-right: 1rem;
            margin-bottom: 1rem;
            flex-direction: column;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            text-decoration: none;

            @media screen and (max-width: 1092px){
                width: 30%;
            }           

            @media screen and (max-width: 905px){
                width: 40%;
            }

            @media screen and (max-width: 484px){
                width: 80%;
                margin-right: 0;
            }

            img{
                max-width: 100%;
                max-height: 35vh;
                margin-bottom: 1rem;
                border: dashed 2px #eb80f6;
            }

            .info{
                h3{
                    margin-bottom: 0.5rem;
                    color: #b03e61;
                    font-family: "Merriweather", serif;
                }

                h4{
                    font-style: italic;
                    color: black;
                }
            }
        }

        .card:hover{
            background-color: #f3dbef;
            //background-color: rgb(219, 219, 219);
        }
    }
}