@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.accesoriesbanner__container{
    height: 80vh;
    background-color: #f8efc3;
    overflow: hidden;

    @media screen and (max-width: 731px){
        height: 90vh;
    }

    .accesories__container{
        background-image: url("/confetti_PNG87038.png");
        background-repeat: no-repeat;
        //background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        @media screen and (max-width: 731px){
            flex-direction: column-reverse;
            background-size: cover;
        }

        @media screen and (max-width: 310px){
            font-size: 5vmin;
        }

        img{
            width: 35%;
            height: 75vh;

            @media screen and (max-width: 930px){
                width: 45%;
            }

            @media screen and (max-width: 731px){
                width: 65%;
            }

            @media screen and (max-width: 495px){
                width: 75%;
                height: 65vh;
            }

            @media screen and (max-width: 389px){
                width: 100%;
                height: 55vh;
            }
        }

        div{
            margin-top: -5rem;

            
            @media screen and (max-width: 731px){
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 2rem;
            }

            h1{
                font-family: "Dancing Script", cursive;
                font-size: 3rem;
                color: #848679;
            }
            
            h2{
                font-size: 4rem;
                margin-bottom: 0.2rem;
                color: #595b8d;
                text-shadow: 0px 5px 8px #f3eae8;

                @media screen and (max-width: 846px){
                    font-size: 3.2rem;
                }

                @media screen and (max-width: 411px){
                    font-size: 12vmin;
                }
            }
    
            p{
                width: 50%;
                color: #6d6f64;

                @media screen and (max-width: 731px){
                    text-align: center;
                }
            }
        }
    }
}