@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.bannerPub__container{
    text-align: center;
    margin-top: 3rem;
    padding: 25px;
    background-color: #f2ecec;
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;

    @media screen and (max-width: 707px){
        font-size: 1rem;
    }

    @media screen and (max-width: 436px){
        font-size: 5vmin;
    }


    .bannerpub__info{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 10%;

            @media screen and (max-width: 885px){
                display: none;
            }
        }
    }
}